#myDiv{
    z-index: 20;
    align-items: center;
}
#myDiv #myImage{
    align-items: center;
    width:2000;
}

@media screen and (max-width: 450px){
    #myDiv #myImage{
        margin-bottom: 1000px;
    }
}